*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-color: #F3F6F6;
  font-family: 'Roboto', sans-serif;
  color: #0F1415;
  font-family: "Poiret One"
}

p {
  font-weight: 600;
}


h2 {
  font-size: 1.8rem;
  font-weight: 900;
}

h3 {
  font-size: 1.2rem;
  font-weight: 900;
  padding-bottom: 5px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}



/* Content Wrapper */
.container {
  height: 100vh;
  overflow: none;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
    "header header"
    "side main";
}



/* Header Styling */
.header {
  grid-area: header;
  background-color: #856660;
}

.title-container {
  display: flex;
  align-items: left;
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  margin-top: 5px;
}

.title-svg {
  width: 60px;
  height: 60x;
  fill: white;
  margin-left: 20px;
}


/* Main Content Styling */
#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list {
  margin-top: 20px;
}

.add-task {
  width: 400px;
  text-align: center;
  background-color: #cccbca;
}

.add-task:hover {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #cccbca;
  cursor: pointer;
}


/* Sidebar */
.sidebar {
  background-color: #A98E89;
  grid-area: side;
}

.sidebar-menu {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 30px;
}

.sidebar-btn {
  display: block;
  background-color: #A98E89;
  text-align: left;
}

.sidebar-btn:hover,
.sidebar-btn:active {
  background-color: white;
  cursor: pointer;
}


.btn-svg {
  width: 20px;
  height: 20px;
}

.projectsMenu {
  margin-top: 50px;
}


.projectTitleText {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid black;
}